@model Labb4_MVC.Models.Loan

@{
    ViewData["Title"] = "Loan a Book";
}

<h1>Loan a Book</h1>

<h4>Loan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LoanBook">
            <div class="form-group">
                <label asp-for="BookId" class="control-label">Book</label>
                <select asp-for="BookId" class="form-control" asp-items="ViewBag.Books"></select>
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CustomerId" />
            <div class="form-group">
                <input type="submit" value="Loan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.CustomerId">Back to Customer Details</a>
</div>

